@import "tailwindcss";
@import "@nuxt/ui";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --app-chrome-color: #fef3c7;
  color-scheme: light;
}

.dark {
  --app-chrome-color: #09090b;
  color-scheme: dark;
}

html,
body,
#app {
  background-color: var(--app-chrome-color);
}

html,
body {
  min-height: 100%;
}

body {
  min-height: 100dvh;
}
